:global(html) {
  --text-color: theme('colors.black');
}

:global(html.dark) {
  --text-color: theme('colors.white');
}

@mixin button {
  @apply bg-green-500;
  color: var(--text-color);
  margin-top: 50px;
}

.root {
  @include button;
}

.a {
  color: red;
}